.row
  .col-md-12
    = simple_form_for @article do |f|
      = f.input :title, label: '原文标题（英文）'
      = f.input :source, label: '文章来源'
      = f.input :source_url, label: '来源 URL'
      = f.input :license, label: '许可信息'
      = f.input :category, collection: Category.all.group_by(&:ancestor), group_method: :last, as: :grouped_select, label_method: :to_s, value_method: :name, label: '文章分类'
      = f.input :original, as: :text, label: '原文内容'
      = f.hidden_field :state, value: 'new' # 标记为新原文

      = f.button :submit, '提交选题', class: 'btn-default'
