- @article.state = :new
- unless can? :new, @article
  - @article.state = :suggest

.page-header
- if @article.state = :new
  %h3 新建原文
- else
  %h3 新建推荐

= render 'layouts/screen_warning'

.row
  .col-md-12
    = simple_form_for @article do |f|
      = f.input :title, label: '原文标题（英文）'
      = f.input :source, label: '文章来源'
      = f.input :source_url, label: '来源 URL'
      = f.input :license, label: '许可信息'
      = f.input :category, collection: Category.all.group_by(&:ancestor), group_method: :last, as: :grouped_select, label_method: :to_s, value_method: :name, label: '文章分类'
      - if @article.state = :new
        = f.input :original, as: :text, label: '原文内容'
        = f.hidden_field :state, value: 'new'
        = f.button :submit, '提交选题', class: 'btn-default'
      - else
        = f.input :suggestion, as: :text, label: '推荐内容'
        = f.hidden_field :state, value: 'suggest'
        = f.button :submit, '推荐文章', class: 'btn-default'
