- # 站点导航
%ul.nav.navbar-nav
  - claimed_article = current_user and current_user.claimed_article
  %li= link_to '动态', activity_path                      if can? :index,     Activity
  %li= link_to '推荐', suggest_article_path               if can? :suggest,   Article
  %li= link_to '添加', new_article_path                   if can? :new,       Article
  %li= link_to '翻译', edit_article_path(claimed_article) if can? :translate, claimed_article
  %li= link_to '校对', articles_path(state: :translted)   if can? :proofread, Article
  %li= link_to '发布', articles_path(state: :done)        if can? :publish,   Article
  %li= link_to '管理', management_path                    if can? :manage,    :all

- # 用户管理
%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    - avatar_tag = image_tag "https://avatars.githubusercontent.com/u/#{current_user.uid}?s=30", class: 'nav-avatar'

    %li= link_to avatar_tag, current_user, style: 'padding: 10px;'
    %li= link_to "#{current_user.name}", current_user

    %li= link_to icon('sign-out') + '登出', signout_path
  - else
    - avatar_tag = image_tag 'not-login.png', class: 'nav-avatar'

    %li= link_to avatar_tag, signin_path, style: 'padding: 10px;'
    %li= link_to '未登录', current_user
    %li= link_to icon('sign-in') + '登陆', signin_path
